body {
  background-color: #fff;
  background-image: url(../images/background.jpg) no-repeat center;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 960px;
  margin: 0 auto;
}


p, ol, ul, td {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
}

ul.nav {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
  float: right;
  margin-left: 686px;
}

ul.nav li {
  float: left;
  margin: 1px;
}

ul.nav li a {
  float: right;
  padding: 20px;
}

h1 {float: left; margin-bottom: 40px; font-size: 40px; font-family: 'Lobster', cursive;}

h1.blogHeader {width: 100%; margin-bottom: 25px;}

p, td {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

td {
  width: 30%;
  background-color: rgba(0,0,0,.5);
  padding: 25px;
  color: #fff;
}

td.title {
  font-size: 20px;
}

td.actionButton {
  width: 10%;
  text-align: center;
  background-color: rgba(0,0,0,.25);
  overflow: hidden;
  padding: 0px;
}

td.actionButton a {
  padding: 25px;
  max-width: 10%;
  color: #555;
}

td.actionButton a:hover {
  color: #fff;
}

table {
  width: 100%;
}

p.deleteButton a {color:red; font-size: 12px;}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
